h1{
    text-align: center;
    background-color: rgb(155, 155, 155);
    font-size: 80px;
}

p{
    font-size: 40px;
}

.botao{
    text-align: center;
    
}

body{
    background-color: blanchedalmond;
}

a{
    font-size: 40px;
}

h2{
    font-size: 35px;
}


